; Primary Zone file template for dynamic zones
$TTL {{ default_ttl }}
@       IN      SOA     ns1 {{ soa_root_email }}.  (
                                      {{ soa_values.serial }}
                                      {{ soa_values.refresh }}
                                      {{ soa_values.retry }}
                                      {{ soa_values.expire }}
                                      {{ soa_values.minimum }} )
; Name servers. Note not fully qualified!
@               IN      NS      ns1
@               IN      NS      ns2
@               IN      NS      ns3
@               IN      NS      ns4

ns1             IN      A      127.0.0.1
ns2             IN      A      127.0.0.2
ns3             IN      A      127.0.0.3
ns4             IN      A      127.0.0.4

; Restrict who can allocate certificates to this domain
{{ item.name }}.    IN      CAA 0 iodef "mailto:{{ contact_email_certs }}"
{{ item.name }}.		IN      CAA	0 issue "letsencrypt.org"
