@       IN      SOA     ns1 {{ soa_root_email }}.  (
                                      {{ soa_values.serial }}
                                      {{ soa_values.refresh }}
                                      {{ soa_values.retry }}
                                      {{ soa_values.expire }}
                                      {{ soa_values.minimum }} )
