zone "{{ item.name }}" IN {
  type primary;
  file "pri/{{ item.name }}/{{ item.name }}.db";
  //also-notify ;
  allow-query { any; };
  update-policy local;
  key-directory "pri/{{ item.name }}/keys";
};
