/* Very basic recursive config.
*/

/* allowed to do most things, so keep this to management and troubleshooting hosts */
acl "trusted" {
	127.0.0.0/8;
	::1/128;
	{{ TrustedACL }}
};
/* Query clients. User networks go here. */
acl "clients" {
	{{ queryclientsACL }}
};

options {
	directory "{{ datapath }}";
	listen-on { 127.0.0.1; {{ ListenV4 }} };
	listen-on-v6 { ::1; {{ ListenV6 }} };
	#dnssec-validation auto;
	allow-query {
		trusted;
		clients;
	};
	allow-recursion {
		trusted;
		clients;
	};
	zone-statistics full;
	deny-answer-addresses { {{ re_bind_IP_ACL }} }
		{% if re_bind_IP_exception %}
		except-from { {{ re_bind_IP_exception }} }
		{% endif %}
	;
	{% if re_bind_name_List %}
	deny-answer-aliases { {{ re_bind_name_List }} }
		{% if re_bind_name_exceptions %}
		except-from { {{ re_bind_name_exceptions }} }
		{% endif %}
	;
	{% endif %}
};

logging {
	channel default_debug {
		file "named.run";
		print-time yes;
		severity dynamic;
	};
	channel default_log {
		file "{{ logpath }}/named.log" versions 5 size 100M;
		print-time yes;
		print-severity yes;
		print-category yes;
	};
	channel query_log {
		file "{{ logpath }}/query.log" versions 5 size 100M;
		print-time yes;
	};
	channel xfers_log {
		file "{{ logpath }}/transfers.log" versions 5 size 100M;
		print-time yes;
	};
	channel update_log {
		file "{{ logpath }}/update.log" versions 5 size 100M;
		print-time yes;
		severity debug 3;
	};
	channel rpz_log {
		file "{{ logpath }}/rpz.log" versions 5 size 100M;
		print-time yes;
		print-category yes;
		print-severity yes;
		severity info;
	};
	category dnssec { default_log; };
	category default { default_log; };
	category general { default_log; };
	category queries { query_log; };
	category update { update_log; };
	category rpz { rpz_log; };
};
statistics-channels {
	inet 127.0.0.1 port 8880 allow {trusted;};
	{% if ListenStatsV4 %}
	inet {{ ListenStatsV4 }} port 8880 allow {trusted;};
	{% endif %}
	{% if ListenStatsV6 %}
	inet {{ ListenStatsV6 }} port 8880 allow {trusted;};
	{% endif %}
};
include "/{{ confpath }}/rndc.key";
controls {
	inet 127.0.0.1 port 953 allow { 127.0.0.1/32; ::1/128; } keys { "rndc-key"; };
};
