zone "{{ item.name }}" IN {
  type primary;
  file "pri/{{ item.name }}/{{ item.name }}.db";
  //also-notify ;
  allow-query { any; };
  {% if item.isstatic == 'no' %}
  update-policy local;
    {% if item.dnssec_policy %}
  dnssec_policy "{{ item.dnssec_policy }}";
    {% endif %}
  {% endif %}
  key-directory "pri/{{ item.name }}/keys";
};
